@page
@model Traslado_Seguro.Pages.ServicioTransporte.IndexModel
@{
	ViewData["Title"] = "Index Service";
}

<h1>Index Service</h1>
<p>
	<a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ServiciosTransportes.FirstOrDefault().Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ServiciosTransportes.FirstOrDefault().Fecha)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ServiciosTransportes.FirstOrDefault().NameConductor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ServiciosTransportes.FirstOrDefault().Cliente)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ServiciosTransportes)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fecha)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NameConductor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cliente.Name)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id " class="btn btn-warning">Edit</a>
					<a asp-page="./Delete" asp-route-id="@item.Id " class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
